In [1]:
import pandas as pd
import random
from copy import deepcopy
from scipy.linalg import svd, diagsvd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [27]:
df = pd.read_csv('data/healthcare-dataset-stroke-data.csv')
df.head()

df_features = df.iloc[:, :-1]
df_outcome = df[['id','stroke']]
df_features_= pd.get_dummies(df_features)
df_outcome_= pd.get_dummies(df_outcome)

         id  stroke
0      9046       1
1     51676       1
2     31112       1
3     60182       1
4      1665       1
...     ...     ...
5105  18234       0
5106  44873       0
5107  19723       0
5108  37544       0
5109  44679       0

[5110 rows x 2 columns]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(df_features_, df_outcome_, train_size=0.5)

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
2955,13374,48.0,0,0,100.03,23.5,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
1875,39242,80.0,1,1,86.68,27.7,0,1,0,0,...,0,1,0,0,0,1,0,1,0,0
1613,49789,73.0,0,0,62.99,25.4,1,0,0,1,...,0,0,0,0,0,1,0,1,0,0
1364,32723,13.0,0,0,102.27,17.2,1,0,0,1,...,0,0,0,1,1,0,0,0,1,0
2237,64817,39.0,0,0,88.48,34.3,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,66570,23.0,0,0,69.24,51.0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
4913,8175,20.0,0,0,84.49,20.5,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
3842,62507,57.0,0,0,94.63,33.0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
4653,53115,78.0,0,0,73.56,27.5,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
3137,43016,10.0,0,0,70.70,25.4,0,1,0,1,...,0,0,0,1,0,1,1,0,0,0